@media screen and (max-width: 1000px) {

    nav{
        display: none;
    }

    .logo{
        display: none;
    }

    .name{
        margin-top: 10px;
    }

    .mobile-text{
        display: flex;
    }

    .project{
        height: 400px;
        display: flex;
    }

    .projects{
        display: flex;
        flex-direction: column-reverse;
        max-width: 1100px;
        width: 80vw;
    }

    .project-img{
        height: 50%;
    }

    .projects .images{
        display: none;
    }

    .project-about .about p{
        font-size: 16px;
    }

}

@media screen and (max-width: 625px) {
    .project-about .about p{
        display: none;
    }
}