*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    color: white;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

span{
    background: rgba(100, 100, 100, 0.5);
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    z-index: -1;
}

button{
    width: 100px;
    padding: 15px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    font-size: 18px;
    position: relative;
}

button:hover span{
    width: 100%;
}

nav{
    display: flex;
    justify-content: center;
    gap: 60px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-bottom-left-radius: 25px;
    width: 350px;
    padding: 10px;
}

.logo{
    top: 5px;
    position: fixed;
}

.logo img{
    width: 60px;
    height: 40px;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: large;
    transition: 0.2s ease;
    color: white;
}

nav a:hover{
    font-size: x-large;
}

.name{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.about-me{
    border: 2px solid white;
    border-radius: 25px;
    width: 75%;
    margin-left: 11%;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background: rgba(100, 100, 100, 0.5);
}

.github{
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-top: 25px;
}

.github img{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
}

.tech-stack{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.tech-stack img{
    width: 50px;
    height: 50px;
}

.css-logo{
    max-height: 40px;
    max-width: 40px;
    margin-top: 5px;
}

.projects-title{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: -5px;
    margin-left: 11%;
    margin-right: 11%;
}

.projects img{
    width: 100%;
    height: 100%;
}

.project1{
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.project1-img{
    border: 5px solid white;
    width: 50%;
    height: 75%;
    border-radius: 10px;
    position: relative;
    top: 5%;
}

.project1-about{
    width: 50%;
    text-align: center;
}

.project1-about img{
    width: 75px;
    height: 75px;
}

.project1-about .about{
    margin-top: 80px;
    font-size: large;
}

.project1-about .images{
   padding-top: 5%;
}

.project2{
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.project2-img{
    border: 5px solid white;
    width: 50%;
    height: 85%;
    border-radius: 10px;
    position: relative;
    top: 5%;
}

.project2-about{
    width: 50%;
    text-align: center;
}

.project2-about img{
    width: 75px;
    height: 75px;
}

.project2-about .about{
    margin-top: 80px;
    font-size: large;
}

.project2-about .images{
    margin-top: 5%;
}

.contact{
    text-align: center;
    font-size: 20px;
}