*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

.nav{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nav a{
    text-decoration: none;
    color: black;
    font-size: large;
}

.nav a:hover{
    font-size: x-large;
}