*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    color: white;
}

body{
    opacity: 0;
    transition: opacity 1.5s;
    background-color: black;
}

p{
    display: flex;
    justify-content: center;
}

.mobile-text{
    display: none;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

span{
    background: rgba(100, 100, 100, 0.5);
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    z-index: -1;
}

button{
    width: 100px;
    padding: 15px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    font-size: 18px;
    position: relative;
}

button:hover span{
    width: 100%;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-bottom-left-radius: 25px;
    padding: 10px;
}

img{
    max-height: 100%;
    max-width: 100%;
}

.logo{
    top: 5px;
    position: fixed;
}

.logo img{
    width: 60px;
    height: 40px;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: large;
    transition: 0.2s ease;
    color: white;
}

nav a:hover{
    font-size: x-large;
}

.name{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: x-large;
}

.about-container{
    display: flex;
    justify-content: center;
}

.about-me{
    border: 2px solid white;
    border-radius: 25px;
    max-width: 1100px;
    width: 80vw;
    text-align: center;
    font-size: 18px;
    background: rgba(100, 100, 100, 0.5);
}

.github{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 25px;
}

.github img{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
}

.tech-stack{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.tech-stack img{
    width: 50px;
    height: 50px;
}

.css-logo{
    max-height: 40px;
    max-width: 40px;
    margin-top: 5px;
}

hr{
    opacity: 50%;
    z-index: -1;
}

.projects-title{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: x-large;
}

.projects-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.projects{
    display: flex;
    flex-direction: column-reverse;
    max-width: 1100px;
    width: 80vw;
}

.project-css{
    max-height: 60px;
    max-width: 60px;
    transform: translateY(-7.5px);
}

.projects img{
    width: 100%;
    height: 100%;
}

.project{
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.project-img{
    border: 5px solid white;
    max-width: 500px;
    max-height: 300px;
    width: 50%;
    height: 75%;
    border-radius: 10px;
    position: relative;
}

.project-about{
    width: 45%;
    text-align: center;
}

.project-about img{
    width: 75px;
    height: 75px;
    margin-top: 5px;
}

.project-about .about{
    font-size: large;
}

.contact{
    text-align: center;
    font-size: 20px;
}